GEMINI_API_KEY=AIzaYourGeminiKeyHere
HF_TOKEN=hf_YourHuggingFaceTokenHere
MEDIUM_AUTHOR_ID=YourMediumAuthorIdHere
DEVTO_API_KEY=YourDevToApiKeyHere
IMGBB_API_KEY=YourImgbbApiKeyHere
TWITTER_API_KEY=YourTwitterApiKeyHere
TWITTER_API_SECRET=YourTwitterApiSecretHere
TWITTER_ACCESS_TOKEN=YourTwitterAccessTokenHere
TWITTER_ACCESS_TOKEN_SECRET=YourTwitterAccessTokenSecretHere
